:root {
    --bg-color: #0d1117;
    --card-bg: #161b22;
    --text-color: #c9d1d9;
    --accent-color: #58a6ff;
    --danger-color: #f85149;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    background-image: linear-gradient(rgba(13, 17, 23, 0.85), rgba(13, 17, 23, 0.85)), url('https://wallpapers.com/images/hd/digital-rain-matrix-background-ay018d0i1qwjtra7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Hace que el fondo se quede quieto al hacer scroll */
}

header {
    text-align: center;
    padding: 2rem;
    background-color: var(--card-bg);
    border-bottom: 2px solid var(--accent-color);
}

h1, h2, h3 { color: #ffffff; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Tarjetas */
.card {
    background-color: var(--card-bg);
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--accent-color);
}

.card h3 { margin-top: 0; }
.card .tipo { color: var(--danger-color); font-weight: bold; }

/* Modal */
.modal {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.oculto { display: none !important; }

.modal-content {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid #30363d;
}

.close-btn {
    position: absolute;
    top: 15px; right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: var(--danger-color);
}

.tipo-badge {
    background-color: var(--danger-color);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    font-size: 14px;
}

.multimedia-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 15px 0;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Ratio 16:9 para YouTube */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    border-radius: 8px;
}

.audio-section { margin: 20px 0; }